// Create Flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null,) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
  }

// Media Queries
@mixin mq($break) {
  @if $break == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $break == med {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $break == lg {
    @media (min-width: 1024px) {
      @content;
    }
  }
 }
