// Colors
$color-text: darkslategrey;
$color-primary: #4361ee;
$color-primary-dark: darken($color-primary, 15%);
$color-primary-light: lighten($color-primary, 15%);
$color-secondary: #3a0ca3;
$color-button: #3F37C9;
// $color-button-primary: ;
$color-save: #B5179E;
// $color-cancel: ;
$color-complement: complement($color-primary);
$color-button-light: lighten($color-button, 15%);
$white: #fff;  
$color-chart: rgba(108, 112, 224, 0.3);
$color-accent: whitesmoke;
$color-dropDown: #4895EF;

// border
$border: 1px solid rgba(0,0,0,.3);