button {
  .dashboard-form & {
    position: absolute;
    background: transparent;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 50px;
    right: 10px;
    top: 15px;
    border: none;
    cursor: pointer;
  }
  .widget-container & {  
    width: 90%;
    margin-top: 20px;
  }
}
.traffic-button {
  background: transparent;
  border: none;
  color: $color-text;
  padding: 10px;
  &:hover {
    background: $color-button-light;
    color: $white;
    border-radius: 10px;
  }
  &:active {
    background: $color-button-light;
  }
}

.button-background,
.initial-button {
  border: none;
  padding: 10px;
  background: $color-button;
  border-radius: 10px;
  color: $white;
}

.settings-button {
  @include grid($disp: grid, $gt-col: repeat(2, 1fr), $gr-gap: 15px);
  width: 90%;
  margin: 25px auto;
}

.button-primary,
.button-disabled,
.button-save {
  padding: 15px;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  &:active {
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
  }
}

.button-primary,
.button-save {
  background-color: $color-button;
  &:hover {
    background-color: $color-button-light;
  }
}

.button-disabled {
  background-color: $color-save;
  &:hover {
    background-color: lighten($color-save, 15%);
  }
}


