button {
  .dashboard-form & {
    position: absolute;
    background: transparent;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 50px;
    right: 10px;
    top: 15px;
    border: none;
    cursor: pointer;
  }
  .widget-container & {  
    width: 90%;
    margin: 10px;
  }
  .traffic-link & {
    background: transparent;
    border: none;
    color: $color-text;
    padding: 10px;
    &:hover {
      background: $color-button;
      color: $white;
      border-radius: 10px;
    }
    &:active {
      background: $color-button-light;
    }
  }
}

.settings-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  width: 90%;
  margin: 13px auto;
}

.button-primary,
.button-disabled {
  padding: 15px;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
}

.button-primary {
  background-color: $color-primary;
  &:hover {
    background-color: $color-primary-light;
  }
}

.button-disabled {
  background-color: $color-button;
  &:hover {
    background-color: $color-button-light;
  }
}

