button {
  .dashboard-form & {
    position: absolute;
    background: transparent;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 50px;
    right: 10px;
    top: 15px;
    border: none;
    cursor: pointer;
  }
  .widget-container & {
    color: $white;
    background: $color-primary;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
}

