// dashboard search input
.search-input {
  @include mq(med) {
    @include flexy($dir: row);
    grid-column: 1 / span 2;
  }
}

.dashboard-form {
  @include flexy($dir: row);
  background: $color-accent;
  border-top: $border;
  border-bottom:  $border;
  position: relative;
  @include mq(med) {
    border-left: $border;
    flex-grow: 3;
    justify-content: flex-end;
  }
  @include mq(lg) {
    flex-grow: 10;
  }
  input {
    margin: 15px 10px;
    @include form-border;
    flex-grow: 1;
    @include mq(med) {
      flex-grow: 0;
      flex-basis: 350px;
    }
    @include mq(lg) {
      flex-basis: 400px;
    }
  }
}

// message section input and textarea
.widget-container {
  margin: 0 auto;
  input {
    width: 90%;
    margin: 0 10px 10px;
    background: $color-accent;
    @include form-border;
  }
  textarea {
    width: 90%;
    height: 150px;
    @include form-border;
    background: $color-accent;
  }
}

.form-field {
  width: 90%;
  margin-top: 15px;
  cursor: pointer;
  @include form-border;
}
