header {
  background: $color-primary;
  @include flexy($dir: row, $align: center);
  > p {
    display: none;
    color: $white;
    @include mq(med) {
      display: initial;
      padding-right: 10px;
    }
  }
  g {
    margin-right: 20px;
    padding-right:  20px;
    border-right: $border;
    position: relative;
  }
}

.ping::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-complement;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1000;
  list-style-type: none;
  background-color: $color-accent;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  border: $border;
  @include mq(sm) {
    left: 17px;
    top: 37px;
  }
  @include mq(med) {
    right: 156px;
    top: 45px;
  }
  @include mq(lg) {
    top: 40px;
  }
  :last-child {
    border: none;
  }
  .list-item {
    border-bottom: $border;
    width: 286px;
    @include flexy($align: center);
    button {
      background: transparent;
      color: $color-text;
      padding: 10px;
      margin: 10px;
      margin-left: auto;
    }
    div {
      background: $color-complement;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 10px;
    }
    p {
      color: $color-text;
      padding: 10px 10px 10px 0;
    }
    button:hover {
      background: $color-complement;
      border-radius: 5px;
      color: $white;
    }
  }
}

.show {
  display: block;
}
