header {
  background: $color-primary;
  @include flexy($dir: row, $align: center);
  p {
    display: none;
    @include mq(med) {
      display: initial;
      @include padding($pr: 10px);
    }
  }
  svg {
    margin-right: 10px;
  }
}