@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    tranform: rotate(45deg);
  }
  30% {
    transform: rotate(-45deg);
  }
  60% {
    transform: rotate(45deg);
  }
  90% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#notify:hover {
  cursor: pointer;
  animation: ring .4s ease-out forwards;
}

.social-image {
  background: $color-primary;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
