nav {
  background: $color-secondary;
  @include flexy($dir: row, $align: center, $just: space-around);
  @include mq(lg) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.nav-icon {
  width: 100%;
  height: 36px;
  border: 3px solid transparent;
  & > img {
    width: 30px;
  }
  @include mq(lg) {
    margin-top: 40px;
    &:hover {
      border-left: 3px solid $color-button-light;
    }
  }
}