.members-container {
  width: 95%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 auto;
  border-bottom: $border;
  &:nth-of-type(8n+4) {
    width: 100%;
    padding: 10px 10px 20px;
  }
  @include flexy;
  p {
    font-size: .7rem;
  }
}

.members-text {
  font-size: .7rem;
  margin-right: auto;
  padding-left: 10px;
  @include flexy($dir: column, $align: flex-start);
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
}