.message {
  @include mq(med) {
    border-right: $border;
    border-bottom: $border;
  }
}

.settings {
  @include mq(med) {
    border-bottom: $border;
  }
}

.message,
.settings {
  @include mq(med) {
    height: 400px;
  }
}