.social-flex {
  @include flexy;
  padding: 20px 20px 10px;
  margin: 10px;
  margin-top: 20px;
  border: $border;
  @include mq(med) {
    margin: 20px;
    width: 331px;
  }
  @include mq(lg) {
    margin: 10px;
    width: 288px;
  }
}

.social-text {
  padding-left: 20px;
}

.social {
  @include mq(med) {
    @include flexy($wrap: wrap);
    padding: 10px;
  }
}