// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: darkslategrey;
  text-align: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-right: auto;
  color: $white;
  padding-left: 10px;
  span {
    font-weight: lighter;
    color: $white;
  }
}

h2, p {
  font-family: 'Raleway', sans-serif;
}

h2 {
  @include mq(med) {
    flex-grow: 1;
  }
}

h3 {
  font-family: 'Oswald', sans-serif;
  .traffic-header & {
    @include mq(med) {
    line-height: normal;
    margin-right: auto;
    margin-left: 20px;
    }
  }
}

p {
  .social-text &:first-child {
    font-weight: bold;
    color: $color-primary;
    margin: 0;
    text-align: left;
  }
  .social-text &:nth-of-type(2) {
    font-size: 2rem;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 0;
  }
}


